@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="form-horizontal" method="post">
    @Html.Raw(ViewData["CharacterSheet"]);
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>